@use '../main/variables';

.header {
  width: 100%;
  background-color: #f1717a;
  padding: variables.$p-20;

    .nav-container {
      display: flex;
      justify-content: space-around;
      align-items: center;

    .logo-wrapper {
      display: flex;
      color: variables.$main-text;
      flex-direction: column;
      text-align: center;
   }
       .navigation {
          display: flex;
          gap: 20px;

    a {
      color: variables.$main-text;
      text-decoration: none;
      font-size: variables.$fs-20;
      font-weight: 600;
    }
   }
 }
}