.shop-list {
   padding: 20px;
   display: flex;
   flex-direction: column;
   
   .product-card {
      list-style-type: none;
   
      li {
         border: 1px solid grey;
         border-radius: 10px;
         margin-bottom: 20px;
 
       a {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 20px;
         text-decoration: none;
         
         .product-title {
            color: black;
            margin: 10px 0; 
         }
         .product-description {
            color:grey;
            text-align: center;
         }
         
         }
         .purchase {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            border: 1px solid grey;
            align-items: center;

            .price {
               padding: 0 10px;
               width: 50%;
            }
            .ordered {
               background-color: #f0f0f0;
            }
         }
       }
      }
   }
