body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #f1717a;
  padding: 20px;
}
.header .nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .nav-container .logo-wrapper {
  display: flex;
  color: white;
  flex-direction: column;
  text-align: center;
}
.header .nav-container .navigation {
  display: flex;
  gap: 20px;
}
.header .nav-container .navigation a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.shop-list .product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  list-style-type: none;
  text-align: center;
}
.shop-list .product-card li {
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}
.shop-list .product-card li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.shop-list .product-card li a .product-title {
  color: black;
  margin: 10px 0;
}
.shop-list .product-card li a .product-description {
  color: grey;
  margin-bottom: 10px;
}
.shop-list .product-card li .purchase {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.shop-list .product-card li .purchase .price {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-right: 30px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 20px;
}
.product-info h1 {
  margin: 20px 0;
}
.product-info .product-ordered-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
  gap: 40px;
}
.product-info .product-ordered-wrapper .product-price {
  font-size: 20px;
  font-weight: 600;
}
.product-info .product-ordered-wrapper .btn {
  padding: 5px;
}
.product-info .product-ordered-wrapper .btn .counter {
  color: red;
  margin-left: 10px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background: rgb(241, 103, 115);
  background: radial-gradient(circle, rgb(241, 103, 115) 0%, rgb(223, 223, 223) 0%, rgb(241, 103, 115) 100%);
}
.hero .element-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  border: 1px solid white;
}
.hero .element-wrapper img {
  position: relative;
  left: 0px;
}
.hero .element-wrapper p {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 30px;
  margin-left: 30px;
}

.products-list-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.products-list-wrapper .products-list {
  margin-top: 30px;
  padding: 30px;
  display: flex;
}
.products-list-wrapper .products-list .list-items {
  gap: 20px;
}
.products-list-wrapper .products-list .list-items li {
  list-style: none;
}
.products-list-wrapper .products-list .list-items li div {
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.created-wrapper h3 {
  font-size: 25px;
}
.created-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.created-wrapper form .form-control {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.created-wrapper form .form-control label {
  font-weight: 600;
  font-size: 18px;
}
.created-wrapper form .form-control input {
  border: 1px solid grey;
}
.created-wrapper form .form-control textarea {
  border: 1px solid grey;
}
.created-wrapper form .form-control select {
  border: 1px solid grey;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: white;
}
.btn.del {
  background: rgb(55, 17, 17);
  background: linear-gradient(90deg, rgb(55, 17, 17) 0%, rgb(253, 29, 29) 50%, rgb(78, 24, 24) 100%);
}
.btn.create-add {
  background: rgb(20, 65, 22);
  background: linear-gradient(90deg, rgb(20, 65, 22) 0%, rgb(29, 253, 95) 50%, rgb(20, 65, 22) 100%);
}
.btn.read {
  background: rgb(33, 44, 92);
  background: linear-gradient(90deg, rgb(33, 44, 92) 0%, rgb(29, 205, 253) 50%, rgb(33, 44, 92) 100%);
}

@media (min-width: 768px) {
  .header .nav-container .navigation a {
    font-size: 25px;
  }
  .shop-list .product-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .hero .element-wrapper > p {
    font-size: 25px;
    line-height: 40px;
  }
}
@media (min-width: 992px) {
  .header .nav-container .navigation a {
    font-size: 30px;
  }
  .shop-list .product-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .hero .element-wrapper > p {
    font-size: 45px;
    line-height: 55px;
  }
}/*# sourceMappingURL=home.css.map */