.header {
background-color: #f26f79;  
border-top-left-radius: 10px;
border-top-left-radius: 10px;


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  
  .nav-item {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
   
  }
}
.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
}
