@use '../main/variables';
.shop-list {
  
   .product-card {
      display: flex;
      flex-direction: column;
  
      justify-content: space-around;
      padding: variables.$p-20;
      list-style-type: none;
      text-align: center;
    

     li {
border: 1px solid grey;
border-radius: 10px;
margin-top: variables.$m-20;
padding: variables.$p-20;

      a{
         text-decoration: none;
         .product-title {
            color: black;
            margin: variables.$m-10 0;        
          }
          .product-description {
            color: grey;
            margin-bottom: variables.$m-10;
          }
      }
      .purchase {
         display: flex;
         justify-content: space-between;
         margin-top: variables.$m-20;

         .price {
            color: black;
            font-size: variables.$fs-20;
            font-weight: 600;
         }
      }
     }
   }
}